@font-face {
    font-family: fa;
    src: url();
}

* {
    box-sizing: border-box; 
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 
  header, footer,  nav {
    padding: 1em;
  }
  header, footer {
    background: yellowgreen;
    height: 20vh;
    width: 100%;
  }

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
   // background-color: #dfc9c0;
    width: 100%;
    margin: 0 auto;
}

  .section {
    padding: 20px;
    width: 40%;
    border-top: solid black 2px;
    margin: 5%;
 }

 .section-title
 {
     color:chartreuse;
     text-align: center;
 }

 .nav-list
 {
    display: flex;
    justify-content: center;
 }

 .nav-item
 {
     padding: 20px;
     list-style: none;
 }